body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
color: #B0BEC5;
font-weight: 100;
font-family: 'Lato';
}

.banner {
text-align: center;
}

/*.content {
text-align: center;
display: inline-block;
}*/

.title {
font-size: 96px;
margin-bottom: -15px;
}
.loginButton {
	display: block;
	text-align: right;
}
.quote {
font-size: 20px;
}